.board-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.board {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
	width: 100%; /* Change to 100% for mobile */
	max-width: 450px; /* Set max-width for larger screens */
	height: auto;
	background-color: aliceblue;
	box-shadow:
		0 0 0 3px rgba(0, 0, 255, 0.3),
		0 0 5px 5px rgba(0, 0, 255, 0.25),
		0 0 7px 7px rgba(0, 0, 255, 0.2),
		0 0 11px 11px rgba(0, 0, 255, 0.15),
		0 0 13px 13px rgba(0, 0, 255, 0.1),
		0 0 15px 15px rgba(0, 0, 255, 0.05);
	animation: pulse 5s infinite;
}

.board-cell {
	width: 50px;
	aspect-ratio: 1; /* Maintain square cells */
	text-align: center;
	border: 1px solid black;
	box-sizing: border-box;
	font-size: 1.5em;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center; /* Center content vertically */
	justify-content: center; /* Center content horizontally */
	overflow: hidden; /* Prevent text overflow */
	text-overflow: ellipsis; /* Optional: Truncate text with ellipsis if too long */
	color: black;
	user-select: none; /* Disable text selection */
	-webkit-user-select: none; /* Disable text selection for WebKit browsers */
	-moz-user-select: none; /* Disable text selection for Firefox */
	-ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
}

.initial-cell {
	font-weight: bold;
	background-color: #f0f0f0; /* Optional: distinguish with a different background color */
	color: #474747;
	cursor: not-allowed;
}

.user-cell {
	font-weight: normal;
	background-color: #fff;
}

.user-cell:hover {
	cursor: pointer;
}

.message-container {
	max-height: 60px;
	height: 60px;
}

.message-container p {
	font-size: 26px; /* Adjust the font size */
	line-height: 1.2; /* Adjust the line height */
	margin: 0; /* Remove default margin */
	padding: 0; /* Remove default padding */
	margin: 10px;
}

p {
	margin-bottom: 10px;
}

.board-cell[data-cellindex='18'],
.board-cell[data-cellindex='19'],
.board-cell[data-cellindex='20'],
.board-cell[data-cellindex='21'],
.board-cell[data-cellindex='22'],
.board-cell[data-cellindex='23'],
.board-cell[data-cellindex='24'],
.board-cell[data-cellindex='25'],
.board-cell[data-cellindex='26'],
.board-cell[data-cellindex='45'],
.board-cell[data-cellindex='46'],
.board-cell[data-cellindex='47'],
.board-cell[data-cellindex='48'],
.board-cell[data-cellindex='49'],
.board-cell[data-cellindex='50'],
.board-cell[data-cellindex='51'],
.board-cell[data-cellindex='52'],
.board-cell[data-cellindex='53'] {
	border-bottom: 3px solid blue;
}

.board-cell[data-cellindex='2'],
.board-cell[data-cellindex='11'],
.board-cell[data-cellindex='20'],
.board-cell[data-cellindex='29'],
.board-cell[data-cellindex='38'],
.board-cell[data-cellindex='47'],
.board-cell[data-cellindex='56'],
.board-cell[data-cellindex='65'],
.board-cell[data-cellindex='74'],
.board-cell[data-cellindex='5'],
.board-cell[data-cellindex='14'],
.board-cell[data-cellindex='23'],
.board-cell[data-cellindex='32'],
.board-cell[data-cellindex='41'],
.board-cell[data-cellindex='50'],
.board-cell[data-cellindex='59'],
.board-cell[data-cellindex='68'],
.board-cell[data-cellindex='77'] {
	border-right: 3px solid blue;
}

@keyframes pulse {
	0% {
		box-shadow:
			0 0 0 3px rgba(0, 0, 255, 0.3),
			0 0 5px 5px rgba(0, 0, 255, 0.25),
			0 0 7px 7px rgba(0, 0, 255, 0.2),
			0 0 11px 11px rgba(0, 0, 255, 0.15),
			0 0 13px 13px rgba(0, 0, 255, 0.1),
			0 0 15px 15px rgba(0, 0, 255, 0.05);
	}
	50% {
		box-shadow:
			0 0 0 5px rgba(0, 0, 255, 0.5),
			0 0 10px 10px rgba(0, 0, 255, 0.4),
			0 0 15px 15px rgba(0, 0, 255, 0.3),
			0 0 20px 20px rgba(0, 0, 255, 0.2),
			0 0 25px 25px rgba(0, 0, 255, 0.1),
			0 0 30px 30px rgba(0, 0, 255, 0.05);
	}
	100% {
		box-shadow:
			0 0 0 3px rgba(0, 0, 255, 0.3),
			0 0 5px 5px rgba(0, 0, 255, 0.25),
			0 0 7px 7px rgba(0, 0, 255, 0.2),
			0 0 11px 11px rgba(0, 0, 255, 0.15),
			0 0 13px 13px rgba(0, 0, 255, 0.1),
			0 0 15px 15px rgba(0, 0, 255, 0.05);
	}
}

/* Mobile styles */
@media (max-width: 600px) {
	.board {
		width: 100%; /* Ensure the board takes full width on mobile */
		height: auto; /* Maintain aspect ratio */
	}

	.board-cell {
		font-size: 1em; /* Adjust font size for smaller screens */
		width: 100%;
	}
}
