.custom-button {
	background-color: #007bff;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.custom-button:hover {
	background-color: #0056b3;
}

.custom-button:disabled {
	background-color: #c0c0c0;
	cursor: not-allowed;
}

.full-width {
	width: 100%;
}

/* Mobile styles */
@media (max-width: 600px) {
	.custom-button {
		padding: 12px 24px; /* Increase padding for better touch targets */
		font-size: 18px; /* Increase font size for readability */
		margin: 8px 4px; /* Adjust margin for spacing */
	}

	.full-width {
		width: 100%;
	}
}
