.number-picker {
	position: absolute;
	background-color: white;
	border: 1px solid #ddd;
	padding: 1px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	width: 150px; /* Default width */
	height: 150px; /* Default height */
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate(-50%, -50%);
	box-sizing: border-box; /* Include padding and border in the element's total width */
}

.number-picker-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1px;
	width: 100%;
	height: 100%;
}

.number-picker-cell {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #7f8bb7;
	border: 1px solid #ddd;
	cursor: pointer;
	font-size: 2em;
	position: relative;
	box-sizing: border-box; /* Ensures padding and border are included in width/height */
}

.number-picker-cell div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.number-picker-cell:hover {
	background-color: #e0e0e0;
	cursor: pointer;
}

/* Mobile styles */
@media (max-width: 600px) {
	.number-picker {
		width: 80%; /* Ensure number picker takes most of the screen width */
		max-width: 150px; /* Limit maximum width on larger screens */
		height: auto; /* Adjust height to maintain aspect ratio */
		padding: 4x; /* Adjust padding for better spacing on mobile */
	}

	.number-picker-cell {
		font-size: 1.5em; /* Adjust font size for better readability on mobile */
		aspect-ratio: 1;
	}
}
